In [1]:
# pip install -r ../requirements.txt

In [2]:
from utils import utils
from app import run_app

settings = utils.get_settings_notebook('../settings.json')
utils.pretty_print(settings)

=======
{
    "csv_map": {
        "directors": {
            "filepath_or_buffer": "files/archive/900_acclaimed_directors_awards.csv",
            "sep": ";"
        },
        "movies": {
            "filepath_or_buffer": "files/archive/AllMoviesDetailsCleaned.csv",
            "sep": ";"
        }
    },
    "etl": {
        "directors": {
            "column_map": {
                "Total awards": "total_awards",
                "imdbID": "id",
                "name": "name"
            },
            "node_name": "Director"
        },
        "movies": {
            "column_map": {
                "genres": "genres",
                "imdb_id": "id",
                "original_language": "lang",
                "original_title": "title",
                "overview": "overview"
            },
            "node_name": "Movie"
        }
    },
    "neo4j": {
        "db": null,
        "password": "1234",
        "uri": "bolt://localhost:7687",
        "username": "neo4j"
    }
}
======

In [3]:
import pandas as pd
df = pd.read_csv(**settings['csv_map']['directors'])
df.head()

,name,tmdbID,imdbID,Total awards,Academy Fellowship,Academy Fellowship_won,Academy Fellowship_nominated,Gold Hugo,Gold Hugo_won,Gold Hugo_nominated,...,Orpheus Award_nominated,Arte France Cinéma Award,Arte France Cinéma Award_won,Arte France Cinéma Award_nominated,Citizens Award,Citizens Award_won,Citizens Award_nominated,Cowboy Award,Cowboy Award_won,Cowboy Award_nominated
0,Ingmar Bergman,6648,nm0000005,101,1,1,0,2,0,2,...,0,0,0,0,0,0,0,0,0,0
1,Marlon Brando,3084,nm0000008,58,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Federico Fellini,4415,nm0000019,90,1,1,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
3,Alfred Hitchcock,2636,nm0000033,53,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Buster Keaton,8635,nm0000036,5,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
run_app(settings, 'etl')

transform

/Users/leonardoclo/git/dse-203/src/core/core.py:10: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(**settings['csv_map'][k])

> /Users/leonardoclo/git/dse-203/src/core/data_transformation.py(20)movies()
     19         import ipdb; ipdb.set_trace()
---> 20         print('transform')
     21         return df

ipdb>  df

               id                        genres lang  \
0       tt0094675                   Drama|Crime   fi
1       tt0092149                  Drama|Comedy   fi
2       tt0113101                  Crime|Comedy   en
3       tt0107286         Action|Thriller|Crime   en
4       tt0825671                   Documentary   en
...           ...                           ...  ...
329039  tt5430190  Documentary|History|TV Movie   en
329040        NaN                           NaN   de
329041        NaN                  Drama|Comedy   en
329042  tt6391664                  Drama|Comedy   en
329043  tt6413160                         Drama   en

                                               title  \
0                                              Ariel
1                               Varjoja paratiisissa
2                                         Four Rooms
3                                     Judgment Night
4                   Life in Loops (A Megacities RMX)
...                                              ...
329039                           The Day Hitler Died
329040  Mobb Deep - Life of the Infamous: The Videos
329041                                        #idiot
329042                              Conspiracy P.I.E
329043                                        Chance

                                                 overview
0       Taisto Kasurinen is a Finnish coal miner whose...
1       An episode in the life of Nikander, a garbage ...
2       It's Ted the Bellhop's first night on the job....
3       While racing to a boxing match, Frank, Mike, J...
4       Timo Novotny labels his new project an experim...
...                                                   ...
329039  The story of Hitler’s final hours told by peop...
329040                                                NaN
329041  In the modern day pursuit of fame and fortune,...
329042  Director Levi A. Taylor invites you on a nosta...
329043  A homeless man is given a second chance at lif...

[329044 rows x 5 columns]

ipdb>  df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 329044 entries, 0 to 329043
Data columns (total 5 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   id        250564 non-null  object
 1   genres    207515 non-null  object
 2   lang      328841 non-null  object
 3   title     329043 non-null  object
 4   overview  278060 non-null  object
dtypes: object(5)
memory usage: 12.6+ MB

ipdb>  df['lang'].value_counts()

en    216831
de     20465
fr     14734
es     12004
ja      8393
       ...
ia         1
sn         1
fy         1
ty         1
cu         1
Name: lang, Length: 134, dtype: int64